.details-body {
    box-sizing: border-box;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;

    &-title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
    }

    &-language {
        border-radius: 30px;
        background-color: $purple;
        color: $white;
        margin-left: auto;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }

    &-main {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &-owner {
        img {
            width: 100%;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    &-list-item {
        word-break: break-word;
        display: flex;
        padding: 0.5rem 0;
    }

    &-list-item-key {
        font-weight: bold;
        flex-shrink: 0;
        padding-right: 1rem;
    }

    @media screen and (min-width: 768px) {
        &-owner {
            img {
                max-width: 400px;
            }
        }

        &-main {
            flex-direction: row;
        }
        
        &-list {
            padding-left: 1rem;
        }
    }
}