.results-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    &-name {
        font-weight: bold;
        margin: 1rem 0 0.5rem 0;
    }

    &-description {
        font-size: 0.875rem;
    }

    hr {
        margin: 0;
    }
}