@import './search/search';

html, body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.show-on-mobile {
    display: flex;

    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.hide-on-mobile {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        
    }
}
