@import './variables';
@import './search/search';

html, body {
    color: $black;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.show-on-mobile {
    display: flex;

    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.hide-on-mobile {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        
    }
}

.button {
    background: none;
    outline: none;
    border: 1px solid $black;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem;

    &:focus {
        background-color: $purple;
        color: $white;
        border: 1px solid $purple;
    }

    &:disabled {
        border: 1px solid rgba(16, 16, 16, 0.3);
    }
}


.header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 1px solid $black;

    @media screen and (min-width: 768px) {
        margin: 0 1rem;
        padding: 1rem 0;
    }
}